footer {
  width: 100%;
  max-width: 600px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  bottom: 0;
  height: 60px;
  background-color: $color-fourth;
  overflow: hidden;
  // padding: 0px 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include md {
    justify-content: space-between;
  }

  a {
    font-size: $text-bigger;
    color: $color-primary;
    text-decoration: none;
  }

  ul {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
