.short-top-hits {
  height: 30%;
  min-height: 360px;
  padding: 30px 40px 0;
  width: 100%;
  background-color: $color-fourth;

  h2 {
    text-transform: uppercase;
    text-align: center;
    line-height: $h1-normal-size;
    font-family: $font-primary;
    color: $color-primary;
    font-size: $h1-normal-size;

    @include md {
      margin-top: 15px;
      font-size: $h1-medium-size;
    }
  }

  ul {
    margin: 30px auto 0;
    width: 100%;
    max-width: 370px;

    @include md {
      margin-top: 20px;
    }
  }

  li {
    height: 45px;
    display: flex;
    justify-content: space-between;
    line-height: 2.5;
    letter-spacing: 1px;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.2);
    font-size: $text-medium-x-size;

    &:last-child {
      border: none;
    }

    @include md {
      height: 40px;
    }

    a {
      font-family: $font-second;
      color: $color-primary;
      font-weight: 700;
      text-decoration: none;
    }

    span {
      font-family: $font-second;
      color: $color-second;
      font-weight: 300;
    }
  }
}
