@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap");

$font-primary: "Roboto Slab", serif;
$font-second: "Roboto", sans-serif;

$h1-small-size: 24px;
$h1-medium-size: 30px;
$h1-normal-size: 36px;

$text-small-size: 12px;
$text-medium-size: 14px;
$text-size: 16px;
$text-big: 18px;
