@import "./colors.scss";
@import "./fonts.scss";
@import "./breakpoints.scss";

.short-top-hits {
  margin-top: 20px;
  padding: 0 20px;
  width: 100%;

  @include sm {
    margin-top: 30px;
  }

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: $font-primary;
    color: $color-primary;
    font-size: $h1-small-size;
  }

  ul {
    padding: 15px 0;
    max-width: 370px;
    margin: 0px auto;
  }

  li {
    display: flex;
    justify-content: space-between;
    line-height: 32px;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.2);

    &:last-child {
      border: none;
    }

    a {
      font-family: $font-second;
      color: $color-primary;
      font-weight: 400;
      font-size: $text-small-size;
      text-decoration: none;
    }

    span {
      font-family: $font-second;
      color: $color-second;
      font-weight: 300;
      font-size: $text-small-size;
    }
  }
}
