@import "./colors.scss";
@import "./fonts.scss";
@import "./breakpoints.scss";

.short-top-hits {
  height: 30%;
  min-height: 300px;
  max-height: 347px;
  padding: 30px 40px 0;
  width: 100%;
  background-color: $color-fourth;

  @include sm {
    // margin-top: 40px;
  }

  h2 {
    text-transform: uppercase;
    text-align: center;
    line-height: $h1-small-size;
    font-family: $font-primary;
    color: $color-primary;
    font-size: $h1-small-size;
  }

  ul {
    margin: 20px auto 0;
    width: 100%;
    max-width: 370px;
  }

  li {
    height: 35px;
    display: flex;
    justify-content: space-between;
    line-height: 35px;
    letter-spacing: 1px;

    border-bottom: 0.2px solid rgba(0, 0, 0, 0.2);

    &:last-child {
      // border: none;
    }

    a {
      font-family: $font-second;
      color: $color-primary;
      font-weight: 700;
      font-size: $text-small-size;
      text-decoration: none;
    }

    span {
      font-family: $font-second;
      color: $color-second;
      font-weight: 300;
      font-size: $text-small-size;
    }
  }
}
