@import "./breakpoints.scss";
@import "./colors.scss";
@import "./fonts.scss";

.short-total-hits {
  background-color: $color-third;
  height: 20%;
  min-height: 260px;
  width: 100%;
  position: relative;
  padding: 80px 6rem 0;

  &::after {
    content: "";
    border-top: $color-fourth 33px solid;
    border-left: transparent 33px solid;
    border-bottom: transparent 33px solid;
    border-right: transparent 33px solid;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: $font-primary;
    color: $color-primary;
    font-size: $h1-normal-size;

    @include md {
      font-size: $h1-medium-size;
    }
  }

  .short-total-searched {
    background: $color-fourth;
    font-family: $font-primary;
    font-weight: 300;
    padding: 10px;
    font-size: $h1-medium-size;
    margin: 20px auto 10px;
    line-height: 0.9;
    text-align: center;
    color: $color-primary;
    width: 173px;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
  }

  .short-clicks {
    font-size: $text-medium-x-size;
    font-weight: 300;
    text-align: center;
    font-family: $font-second;
    color: $color-second;

    @include md {
      font-weight: 300;
    }
  }
}
