@import "./breakpoints.scss";
@import "./colors.scss";
@import "./fonts.scss";

.short-total-hits {
  background-color: $color-third;
  height: 20%;
  min-height: 200px;
  max-height: 223px;
  width: 100%;
  position: relative;
  padding: 5.5rem 6rem 0;

  &::after {
    content: "";
    border-top: $color-fourth 33px solid;
    border-left: transparent 33px solid;
    border-bottom: transparent 33px solid;
    border-right: transparent 33px solid;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: $font-primary;
    color: $color-primary;
    font-size: $h1-small-size;
  }

  div {
    background: $color-fourth;
    height: 40px;
    width: 140px;
    margin: 15px auto 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .short-total-searched {
    font-family: $font-primary;
    font-weight: 400;
    font-size: $h1-small-size;
    background: none;
    text-align: center;
    color: $color-primary;
    border-radius: 4px;
  }

  .short-clicks {
    font-size: $text-small-size;
    text-align: center;
    font-family: $font-second;
    color: $color-second;
  }
}
